.simplebar-scrollbar:before {
  background: rgba(0, 0, 0, 0.55) !important;
}

/* ================Preloader================ */
.preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: var(--color-primary-soft);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-content > .loader {
  width: 8em;
  height: 8em;
  font-size: 22px;
  box-sizing: border-box;
  border-top: 0.18em solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}
.preloader-content > .loader span {
  position: absolute;
  color: var(--color-primary);
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
}
.preloader-content > .loader::before,
.preloader-content > .loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.preloader-content > .loader::before {
  border-top: 0.18em solid var(--color-primary);
  transform: rotate(120deg);
}
.preloader-content > .loader::after {
  border-top: 0.18em solid var(--color-secondary);
  transform: rotate(240deg);
}
@keyframes rotating {
  50% {
    transform: rotate(calc(180deg));
  }
  100% {
    transform: rotate(calc(360deg));
  }
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}
.preloader-logo img {
  animation: zoom 2.5s linear infinite alternate;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes zoom {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.i-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.4s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

.i-btn.capsuled {
  border-radius: 50px;
}

.i-btn.btn--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-primary-text);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--primary span{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 23px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.4s ease;
}
.btn--primary span i{
  font-size: 14px;
  color: var(--color-primary);
  vertical-align: middle;
  transition: 0.4s ease;
  transform: rotate(0deg);
}

.i-btn.btn--primary::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 25em;
  height: 25em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
  isolation: isolate;
  opacity: 0;
}

.i-btn.btn--primary:hover::before {
  box-shadow: inset 0 0 0 13em var(--color-primary);
  opacity: 1;
}

.i-btn.btn--primary:hover {
  background-color: transparent;
}

/* btn dark */
.i-btn.btn--dark {
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  color: var(--color-primary-text);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn--dark span{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 23px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.4s ease;
}
.btn--dark span i{
  font-size: 14px;
  color: var(--text-primary);
  vertical-align: middle;
  transition: 0.4s ease;
  transform: rotate(0deg);
}

.i-btn.btn--dark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 25em;
  height: 25em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
  isolation: isolate;
  opacity: 0;
}

.i-btn.btn--dark:hover::before {
  box-shadow: inset 0 0 0 13em var(--text-primary);
  opacity: 1;
}

.i-btn.btn--dark:hover {
  background-color: transparent;
}

.i-btn.btn--secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary-text);
}

.i-btn.btn--outline {
  position: relative;
  border: 1px solid var(--border-one);
  overflow: hidden;
  color: var(--text-primary);
  transition: 0.3s;
  background-color: var(--color-white);
}


.i-btn.btn--outline:hover {
  color: var(--color-white);
  border: 1px solid var(--text-primary);
  background-color: var(--color-dark);
}

.i-btn.btn--primary-outline {
  background: transparent;
  position: relative;
  border: 1px solid var(--color-primary);
  overflow: hidden;
  color: var(--color-primary);
  transition: color 0.3s ease-out;
}

.i-btn.btn--primary-outline::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 25em;
  height: 25em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
  isolation: isolate;
}

.i-btn.btn--primary-outline:hover::before {
  box-shadow: inset 0 0 0 13em var(--color-primary);
}

.i-btn.btn--primary-outline:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.i-btn.btn--secondary-outline {
  background: transparent;
  position: relative;
  border: 1px solid var(--color-secondary);
  overflow: hidden;
  color: var(--color-secondary);
  transition: color 0.3s 0.1s ease-out;
}

.i-btn.btn--secondary-outline::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 25em;
  height: 25em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
  isolation: isolate;
}

.i-btn.btn--secondary-outline:hover::before {
  box-shadow: inset 0 0 0 13em var(--color-primary);
}

.i-btn.btn--secondary-outline:hover {
  color: var(--color-secondary-text);
  border: 1px solid var(--color-secondary);
}


.i-btn.btn--white {
  color: var(--text-primary);
  background-color: var(--color-white);
  border: 2px solid var(--border-two);
  text-transform: capitalize;
}
.btn--white:hover {
  color: var(--color-primary);
}
.btn--white:hover span {
  background-color: var(--color-primary);
}
.btn--white:hover span i{
  color: var(--color-white);
}

.btn--white span{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 23px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .08);
  transition: 0.4s ease;
}
.btn--white span i{
  font-size: 14px;
  color: rgba(88, 176, 254, 1);
  vertical-align: middle;
  transition: 0.4s ease;
  transform: rotate(0deg);
}

.btn--danger{
  background-color: var(--color-danger);
  color: var(--color-white);
}

.i-btn.btn--sm {
  padding: 9px 14px;
  font-size: 13px;
}

.i-btn.btn--sm i {
  font-size: 18px;
}

.i-btn.btn--md {
  padding: 12px 17px; 
  font-size: 14px;
}

.i-btn.btn--lg {
  padding: 14px 30px;
  font-size: 16px;
}

@media (max-width: 768px){
  .i-btn.btn--lg {
    padding: 11px 20px;
    font-size: 16px;
  }
}

.i-btn.btn--lg > i {
  font-size: 18px;
}

.learn-more {
  width: 10.5rem;
  height: auto;
  position: relative;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 48px;
  height: 48px;
  background: var(--color-primary);
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.6rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.06rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.6rem;
  color: var(--text-primary);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}

/* ==================================================================
                     Paginations Customizations Css
===================================================================== */
@media (max-width: 576px) {
  .Paginations nav {
    justify-content: flex-start;
    margin-top: 35px;
  }
}

.Paginations nav {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Paginations nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Paginations nav ul .page-item .page-link {
  border: 1px solid var(--border-light);
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  color: var(--text-secondary);
  font-size: 13px;
}

@media (max-width: 576px) {
  .Paginations nav ul .page-item .page-link {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.Paginations nav ul .page-item .page-link > i {
  font-size: 20px;
  vertical-align: middle;
  line-height: 1;
}

.Paginations nav ul .page-item .page-link:hover {
  background: var(--color-primary);
  color: var(--color-primary-text);
  border-color: var(--color-primary);
}

.Paginations nav ul .page-item .page-link:hover {
  z-index: unset;
  color: var(--color-primary-text);
  background: var(--color-primary);
  outline: 0;
  box-shadow: none;
}

.Paginations nav ul .page-item.active .page-link {
  background: var(--color-primary);
  color: var(--color-primary-text);
  border-color: var(--color-primary);
}
.Paginations nav ul .page-link:focus {
  box-shadow: unset;
}

/* =======================No Data=======================  */
.nodata-wrapper {
  max-width: 170px;
  width: 100%;
  padding: 40px 0;
}
.nodata-wrapper > h5 {
  font-weight: 700;
  font-size: 18px;
}

/* ==============================================================
                    Plan Details Page
================================================================= */
.plan-tab {
  display: flex;
  align-items: center;
  padding: 5px;
  background: var(--color-primary-light);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  overflow: hidden;
}

.plan-tab > button {
  padding: 11px 30px;
  border-radius: 50px;
  background: transparent;
  line-height: 1;
  color: var(--text-primary);
  font-size: 16px;
}

@media (max-width: 424.98px) {
  .plan-tab > button {
    padding: 10px 18px;
    font-size: 15px;
  }
}

.plan-tab > button:hover {
  color: var(--text-primary);
  text-decoration: underline;
}

.plan-tab > button.active {
  background: var(--color-primary);
  color: var(--color-primary-text);
}

.plan-detail-card {
  padding: 35px;
  border-radius: 40px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
}
.plan-detail-card.recommend {
  background: var(--color-white);
}
@media (max-width: 1199px) {
  .plan-detail-card.recommend {
    overflow: hidden;
    border-color: var(--color-primary);
  }
}
.plan-detail-card:hover {
  background: var(--color-white);
}
@media (max-width: 991px) {
  .plan-detail-card {
    padding: 50px 20px 20px;
  }
}
@media (max-width: 1199px) {
  .plan-detail-card {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
  }
  .plan-detail-card:hover {
    border-color: var(--color-primary);
  }
}
.plan-detail-card .recommend-content {
  position: absolute;
  width: 100%;
  top: -55px;
  left: 0;
  text-align: center;
  padding: 12px 0;
  background: var(--color-white);
  font-size: 20px;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
}
.plan-detail-card .recommend-content p {
  color: var(--color-primary);
}
@media (max-width: 1199px) {
  .plan-detail-card .recommend-content {
    width: 200px;
    top: 25px;
    right: -55px;
    left: unset;
    padding: 5px 0;
    background: var(--color-primary);
    font-size: 14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .plan-detail-card .recommend-content p {
    color: var(--color-primary-text);
  }
}
.plan-detail-card .plan-detail-top > span {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 28px;
  margin-bottom: 12px;
  line-height: 1.2;
  display: inline-block;
}
.plan-detail-card .plan-detail-top .price {
  margin-bottom: 30px;
  margin-top: 30px;
}
.plan-detail-card .plan-detail-top .price h4{
  font-size: 50px;
  line-height: 1.2;
}
.plan-detail-card .plan-detail-top .price h4 span{
  font-size: 20px;
  display: inline-block;
  color: var(--text-secondary);
}
.plan-detail-card .plan-detail-top > h4 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 5px;
}
.plan-detail-card .plan-detail-top > h4 > del {
  font-size: 22px;
  color: var(--color-primary);
  font-weight: 500;
}
.plan-detail-card .plan-detail-top > h4 span {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 400;
}

@media (max-width: 767px) {
  .plan-detail-card .plan-detail-top > h4 {
    font-size: 30px;
  }
  .plan-detail-card .plan-detail-top > h4 > del {
    font-size: 18px;
  }
}

.plan-detail-card .plan-detail-body > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.plan-detail-card .plan-detail-body > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  line-height: 1;
}
.plan-detail-card .plan-detail-body > ul li span {
  font-size: 18px;
  color: var(--color-primary);
}

.payment_method {
  padding: 15px;
  border: 1px solid var(--border-light);
  border-radius: 4px;
  text-align: center;
}
.payment_method:hover {
  border-color: var(--color-primary-soft);
}
.payment_method .method-img {
  width: 50%;
  margin: 0 auto;
}
.payment_method .method-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.payment_method h5 {
  margin-bottom: 15px;
  font-weight: 700;
}

.pay-card {
  padding: 10px;
}
.pay-card .method-img {
  width: 150px;
  margin: 0 auto;
}
.pay-card .method-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.pay-card ul {
  margin-top: 20px;
  margin-bottom: 25px;
  display: grid;
  gap: 10px;
}
.pay-card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.pay-card ul li p {
  font-size: 14px;
}

.manual-pay-card .manual-pay-top h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .manual-pay-card .manual-pay-top h2 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .manual-pay-card .manual-pay-top h2 {
    font-size: 30px;
  }
}

/* =========================================
  Faqs Section Start
============================================= */ 
.faq-wrap .accordion-item {
  margin-bottom: 20px !important;
  border: 2px solid var(--border-two);  
  box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-white);
  border-radius: 40px;
  overflow: hidden;
  transition: 0.4s ease;
}
.faq-wrap .accordion-item .accordion-button:hover{
  color: var(--color-primary);
}

.faq-wrap .accordion-item:last-of-type {
  margin-bottom: 0 !important;
}

.faq-wrap .accordion-item .accordion-button {
  font-weight: 600;
  font-size: 20px;
  background: var(--white);
  color: var(--text-primary);
  
  padding: 30px 30px 30px 75px;
  position: relative;
  transition: 0.4s ease-in;
  line-height: 1.6;
}

.faq-wrap .accordion-item .accordion-button i {
  margin-right: 20px;
  font-size: 22px;
}

@media (max-width: 576px) {
  .faq-wrap .accordion-item .accordion-button i {
    margin-right: 15px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .faq-wrap .accordion-item .accordion-button {
    font-size: 16px;
    padding: 15px 25px 15px 55px;
  }
}

.faq-wrap .accordion-item .accordion-button:focus {
  z-index: unset;
  border-color: unset;
  outline: 0;
  background: var(--white);
  box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.06);
  color: var(--text-primary);
}

.faq-wrap .accordion-item .accordion-button::after {
  flex-shrink: 0;
  width: unset;
  height: unset;
  margin-left: auto;
  background-image: none;
  background-repeat: unset;
  background-size: unset;
  font-family: bootstrap-icons !important;
  content: "\F64D";
  font-size: 16px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  transition: unset;
  color: var(--color-white);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: var(--color-secondary);
}

@media (max-width: 576px) {
  .faq-wrap .accordion-item .accordion-button::after {
    width: 28px;
    height: 28px;
    line-height: 28px;
    left: 15px;
  }
}

.faq-wrap .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: unset;
  font-family: bootstrap-icons !important;
  content: "\F63B";
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.faq-wrap .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: unset;
  color: var(--color-primary);
}

.faq-wrap .accordion-item .accordion-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  border-top: none;
  text-align: left;
  padding: 0px 30px 30px 70px;
  background-color: var(--color-white);
}

@media (max-width: 576px) {
  .faq-wrap .accordion-item .accordion-body {
    padding: 0px 30px 30px 50px;
  }
}

.faq-wrap .accordion-item:last-of-type .accordion-collapse {
  overflow: hidden;
}

/* faq style two */
.faq-wrap-two .accordion-item {
  padding-bottom: 60px !important;
  background-color: inherit;
  border-radius: 0px;
  border: unset;
  position: relative;
  z-index: 1;
}
.faq-wrap-two .accordion-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: rgba(217, 217, 217, 1);
  z-index: -1;
}

@media (max-width: 768px){
  .faq-wrap-two .accordion-item {
    padding-bottom: 45px !important;
  }
  .faq-wrap-two .accordion-item::after {
    left: 30px;
  }
}
@media (max-width: 576px){
  .faq-wrap-two .accordion-item::after {
    left: 38px;
  }
}

.faq-wrap-two .accordion-item:last-child:after {
  content: unset;
}

.faq-wrap-two .accordion-item:last-of-type {
  margin-bottom: 0 !important;
}

.faq-wrap-two .accordion-item .accordion-button {
  font-weight: 600;
  font-size: 24px;
  background: var(--white);
  color: var(--text-primary);
  padding: 0px 0px 0px 75px;
  position: relative;
  transition: 0.4s ease-in;
  line-height: 1.4;
}

.faq-wrap-two .accordion-item .accordion-button i {
  margin-right: 20px;
  font-size: 22px;
}

@media (max-width: 991px) {
  .faq-wrap-two .accordion-item .accordion-button i {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .faq-wrap-two .accordion-item .accordion-button i {
    margin-right: 15px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .faq-wrap-two .accordion-item .accordion-button {
    font-size: 16px;
  }
}

.faq-wrap-two .accordion-item .accordion-button:focus {
  z-index: unset;
  border-color: unset;
  outline: 0;
  background: var(--white);
  box-shadow: unset;
  color: var(--text-primary);
}

.faq-wrap-two .accordion-item .accordion-button::after {
  flex-shrink: 0;
  width: unset;
  height: unset;
  margin-left: auto;
  background-image: none;
  background-repeat: unset;
  background-size: unset;
  font-family: bootstrap-icons !important;
  content: "\F64D"; 
  font-size: 16px;
  position: absolute;
  left: 0px;
  top: 50%; 
  transform: translateY(-50%);
  transition: unset;
  color: var(--color-white);
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: var(--color-secondary);
  border: 3px solid #fff;
}

@media (max-width: 576px) {
  .faq-wrap-two .accordion-item .accordion-button::after {
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: 20px;
  }
}

.faq-wrap-two .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: unset;
  font-family: bootstrap-icons !important;
  content: "\F63B";
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.faq-wrap-two .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: unset;
  color: var(--color-dark);
}

.faq-wrap-two .accordion-item .accordion-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  border-top: none;
  text-align: left;
  padding: 10px 30px 0px 75px;
  background-color: inherit;
}

.faq-wrap-two .accordion-item:last-of-type .accordion-collapse {
  overflow: hidden;
}

/* =====================Ai content user dashboard===================== */
.ai-section .faq-wrap .accordion-item .accordion-button:is(.collapsed) {
  color: var(--color-dark);
  background: var(--color-primary-light);
}

.ai-section .faq-wrap .accordion-item .accordion-button {
  font-size: 16px;
  padding: 15px 65px 15px 15px;
}

.modal-aiwrap.faq-wrap .accordion-item .accordion-button:is(.collapsed) {
  color: var(--color-dark);
  background: var(--color-primary-light);
}

.modal-aiwrap.faq-wrap .accordion-item .accordion-button {
  font-size: 16px;
  padding: 15px 15px 15px 70px;
}
/* =============================Select2  Customize Start============================= */

.select-custom{
  padding: 10px 15px;
}
.select2.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 45px;
  line-height: 45px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
  border: 1px solid var(--border-two);
  border-radius: 30px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--text-secondary) !important;
  line-height: 45px;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.select2-results {
  display: block;
  background: var(--color-white);
  box-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 45px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 20px;
}

.select2.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid var(--border-one) !important;
}

.select2-dropdown {
  border: 1px solid var(--border-one) !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--text-secondary) !important;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--color-primary-soft);
}

.select2-results__option {
  font-size: 15px;
}


/* ======================================================
                 Custom Dropdown Css Start
========================================================= */
.dropdown .dropdown-toggle::after {
  display: none;
}
.dropdown .dropdown-toggle.i-btn:hover {
  text-decoration: unset;
}

.dropdown .dropdown-menu {
  border: 1px solid var(--color-primary-light);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown .dropdown-menu .dropdown-item {
  padding: 10px 15px;
  font-size: 14px !important;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.dropdown .dropdown-menu .dropdown-item i {
  font-size: 17px;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus {
  color: var(--text-primary);
  background-color: var(--color-primary-light);
}

.dropdown .dropdown-menu .dropdown-item.active,
.dropdown .dropdown-menu .dropdown-item:active {
  color: var(--color-primary-text);
  background-color: var(--color-primary);
}

/* ======================================================
   Nav tabs Css Start
========================================================= */

.nav-tabs.style-1 {
  border-bottom: none;
  margin-bottom: 20px;
  gap: 10px
}

.nav-tabs.style-1 .nav-link {
  color: var(--text-primary);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 400;
  padding: 6px 15px;
  border-radius: 8px;
  text-align: center;
}

.nav-tabs.style-1 .nav-link.active {
  background-color: var(--color-primary);
  color: var(--color-white)
}

.nav-tabs.style-2 {
  border-bottom: 2px solid var(--border-two);
  gap: 10px;
}

.nav-tabs.style-2 .nav-link {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  border-radius: 0px;
  border: none;
  padding: 0 0 5px 0;
  opacity: 0.6;
  text-align: center;
  white-space: nowrap;
}
.nav-tabs.style-2 .nav-link span{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
}

.nav-tabs.style-2 .nav-link.active {
  color: var(--text-primary);
  border-bottom: 2px solid var(--text-primary);
  opacity: 1;
}

.profile-picture {
  position: relative;
}

.profile-picture img{
  border: 3px solid var(--color-primary);
}

.file-input{
  position: absolute;
  bottom: 0;
  right: 0px;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  justify-content: center;
}
.file-input__label span i{
  font-size: 16px;
  vertical-align: middle;
}
.file-input__label span {
  display: inline-block;
  line-height: 1;
}

.breadcrumb-wrapper{
  margin-top: 0px;
  position: relative;
  display: inline-block;
  transform: translateY(-100px);
  z-index: 2;
}
.breadcrumb-wrapper .shape-two {
  position: absolute;
  bottom: 2px;
  right: -35px;
  z-index: 10;
  width: 50px;
  height: 50px;
}
.breadcrumb-wrapper .shape-one {
  position: absolute;
  top: -38px;
  left: -15px;
  z-index: 10;
  width: 50px;
  height: 50px;
}
.breadcrumb{
  background: linear-gradient(90deg,rgb(126, 212, 246), rgba(216, 137, 255, 0.94)) !important;
  display: inline-flex;
  padding: 15px 35px;
  border-radius: 30px;
  border: 15px solid var(--color-white);
  margin-left: -15px;
  z-index: 9;
  position: relative;
  margin-bottom: 0;
}
.breadcrumb li{
  font-size: 35px;
  color: var(--color-white) !important;
}
.breadcrumb li a{
  color: var(--color-white) !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--color-white);
}

@media (max-width: 991px) {
  .breadcrumb li{
    font-size: 16px;
  }
  .breadcrumb{
    padding: 10px 20px;
  }
  .breadcrumb-wrapper {
    transform: translateY(-60px);
}
}

.account-connect-list{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.account-connect-list li{
  padding: 18px 18px;
  border: 1px solid #bfbfbf;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  width: 48%;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 991px){
  .account-connect-list li{
    width: 100%;
    flex-wrap: wrap;
  }
}
.account-connect-list li .button-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.account-connect-list li button{
  background-color: var(--color-white);
  color: var(--text-primary);
  font-weight: 500;
  font-size: 18px;
}
.account-connect-list li button span{
  display: inline-block;
  margin-right: 10px;
}
.account-connect-list li button span img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
