.cursor-pointer {
  cursor: pointer !important;
}

/* ==================Rating Start================== */
.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  gap: 4px;
}

.rating > input {
  display: none;
}
.rating > label {
  cursor: pointer;
  position: relative;
  width: 28px;
  height: 30px;
}
.rating > label::before {
  position: absolute;
  font-family: bootstrap-icons !important;
  content: "\F586";
  font-size: 28px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.rating > input:checked ~ label::before,
.rating > input:checked ~ label ~ label::before {
  opacity: 1;
  color: #fcd93a;
}

.rating > input:not(:checked) ~ label:hover::before,
.rating > input:not(:checked) ~ label:hover ~ label::before {
  opacity: 1;
  color: #fcd93a;
}

/* ==================Rating End================== */

.feedback-file {
  cursor: pointer;
  display: block;
  border: 1px dashed var(--border-two);
  background-color: var(--color-primary-soft);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.feedback-file:hover {
  border-color: var(--color-primary);
}
.feedback-file > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  line-height: 1.1;
  padding: 20px;
}
.feedback-file > span i {
  font-size: 26px;
  line-height: 26px;
  color: var(--color-primary);
}

/* Pages Wrapper */
.page-content {
  padding: 30px 35px;
  border-radius: 40px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-content {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .page-content {
    padding: 15px;
  }
}

.otp-expired-message {
  color: var(--color-warning);
  font-size: 18px;
}

.pointer {
  cursor: pointer !important;
}


/* =============Summer Note Customize Start============= */
.note-editor .note-toolbar .note-dropdown-menu,
.note-popover .popover-content .note-dropdown-menu {
  top: 115%;
}

.note-modal {
  z-index: 1070 !important;
}
.note-modal .form-group {
  margin-bottom: 15px;
}

.note-dropdown-menu.dropdown-menu {
  border: 1px solid var(--color-primary-light) !important;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note-modal .close {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  transition: 0.3s ease;
}
.note-editor .note-editable > ul {
  list-style: disc !important;
  list-style-position: inside !important;
}
.note-editor .note-editable > ul > li,
.note-editor .note-editable > ol > li {
  list-style-type: unset !important;
}

.note-editor .note-editable > ol {
  list-style: decimal !important;
  list-style-position: inside !important;
}

.note-modal .btn.note-btn-primary {
  background-color: var(--color-primary) !important;
}

.note-modal .btn:disabled,
.note-modal fieldset:disabled .btn {
  color: var(--color-primary-text) !important;
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  opacity: 1 !important;
}

.note-editor .note-dropdown-menu .dropdown-item:focus,
.note-editor .note-dropdown-menu .dropdown-item:hover {
  color: var(--text-primary) !important;
  background-color: var(--site-bg) !important;
}

.note-editor .note-dropdown-menu .dropdown-item.active,
.note-editor .note-dropdown-menu .dropdown-item:active {
  color: var(--color-primary-text) !important;
  background-color: var(--color-primary) !important;
}

/* =============Summer Note Customize End============= */

@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: #aaa;
  }

  50% {
    background-color: #ccc;
  }

  100% {
    transform: scale(1);
    background-color: #fff;
  }
}

.ai-btn {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-width: 160px !important;
}

.ai-btn.btn__dots--loading .btn__dots {
  display: flex;
  margin-left: 5px;
}

.ai-btn.btn__dots--loading .btn__dots i {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: stretch;
  animation-play-state: running;
  animation-timing-function: ease-out;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
  animation-delay: 0.1s;
  margin: 0 5px;
}

.ai-btn.btn__dots--loading .btn__dots i:first-child {
  animation-delay: 0s;
  margin: 0;
}

.ai-btn.btn__dots--loading .btn__dots i:last-child {
  animation-delay: 0.2s;
  margin: 0;
}

.ai-btn i {
  font-weight: normal;
}

.ai-btn .btn__dots {
  display: none;
}


/** dev css start */


.ticket-admin-reply {
   border-bottom: 1px solid var(--color-primary-light) !important;
}


.language-btn{

  color: var(--color-white) !important;
}

.language-btn:hover{
  text-decoration: none !important;
}

/** dev css end */