/* ==============================================================
                     Post Previewer List
================================================================= */
.pre-tab-list .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }

  @media (max-width: 767px) {
    .pre-tab-list .nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  .pre-tab-list .nav .pre-tab-item {
    padding: 0;
  }
  .pre-tab-list .nav .pre-tab-item.active .channel-img {
    background: var(--color-primary-soft);
    border-radius: 10px;
    border-color: var(--color-primary);
  }
  .pre-tab-list .nav .pre-tab-item:hover .channel-img {
    background: var(--color-primary-soft);
    border-radius: 10px;
    border-color: var(--color-primary);
  }
  .pre-tab-list .nav .pre-tab-item .channel-img {
    padding: 10px;
    border: 1px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  @media (max-width: 576px) {
    .pre-tab-list .nav .pre-tab-item .channel-img {
      padding: 5px;
    }
  }
  .pre-tab-list .nav .pre-tab-item .channel-img img {
    width: 25px;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .social-preview-body {
    border: 3px solid var(--border-dark);
    border-top-width: 25px;
    border-bottom-width: 25px;
    border-radius: 20px;
    width: 320px;
    aspect-ratio: 8/16;
    margin: 0 auto;
    padding: 35px 18px;
    background-color: var(--color-white);
    -webkit-box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset,
      20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
    box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset,
      20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
  }
  @media (max-width: 576px) {
    .social-preview-body {
      width: 250px;
    }
  }
  .social-preview-body .social-auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    position: relative;
  }
  .social-preview-body .social-auth .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }
  .social-preview-body .social-auth .profile-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .social-preview-body .social-auth .profile-meta .user-name {
    font-weight: 700;
  }
  .social-preview-body .social-auth .profile-meta .user-name a {
    color: var(--text-primary);
    display: inline-block;
  }
  .social-preview-body .social-auth .profile-meta .user-name a:hover {
    color: var(--color-primary);
  }
  .social-preview-body .social-auth .profile-meta p {
    font-size: 14px;
  }
  .social-preview-body .social-auth .dots {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: var(--text-primary);
  }
  .social-preview-body .social-caption {
    overflow: hidden;
    margin-top: 15px;
  }
  .social-preview-body .social-caption .caption-imgs {
    background: var(--site-bg);
    max-width: 280px;
    width: 100%;
    height: 100%;
    max-height: 160px;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
  }
  .social-preview-body .social-caption .caption-imgs.imgOne .caption-img {
    grid-column: 1/-1 !important;
    grid-row: 1/-1;
  }
  .social-preview-body
    .social-caption
    .caption-imgs.imgTwo
    .caption-img:first-child {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .social-preview-body
    .social-caption
    .caption-imgs.imgTwo
    .caption-img:nth-child(2) {
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
  .social-preview-body .social-caption .caption-imgs .caption-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .social-preview-body .social-caption .caption-imgs .caption-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
  }
  .social-preview-body .social-caption .caption-imgs .caption-img .overlay p {
    font-size: 18px;
    color: var(--color-white);
  }
  .social-preview-body .social-caption .caption-imgs .caption-img:first-child {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .social-preview-body .social-caption .caption-imgs .caption-img:nth-child(2) {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
  .social-preview-body .social-caption .caption-imgs .caption-img:nth-child(3) {
    grid-column: 2/-1;
    grid-row: 2/-1;
  }
  .social-preview-body
    .social-caption
    .caption-imgs
    .caption-img:nth-child(3)
    .overlay {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .social-preview-body .social-caption .caption-imgs .caption-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .social-preview-body .social-caption .caption-text {
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .social-preview-body .social-caption .caption-link > a {
    background-color: #f5f5f5;
    display: inline-block;
    padding: 5px;
    width: 100%;
  }
  .social-preview-body .social-caption .caption-link > a .link-domin {
    font-size: 12px;
    color: var(--text-secondary);
  }
  .social-preview-body .social-caption .caption-link > a h6 {
    font-size: 13px;
  }
  .social-preview-body .social-caption .caption-link > a p {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .social-preview-body .social-caption .hash-tag {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .social-preview-body .social-caption .hash-tag a:hover {
    text-decoration: underline;
  }
  .social-preview-body .caption-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-preview-body .caption-action .caption-action-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
  }
  .social-preview-body.facebook .caption-action,
  .social-preview-body.linkedin .caption-action {
    margin-top: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .social-preview-body.facebook .caption-action .caption-action-item,
  .social-preview-body.linkedin .caption-action .caption-action-item {
    line-height: 1.2;
    font-size: 14px;
  }
  @media (max-width: 576px) {
    .social-preview-body.facebook .caption-action .caption-action-item,
    .social-preview-body.linkedin .caption-action .caption-action-item {
      font-size: 12px;
    }
  }
  .social-preview-body.instagram .caption-action {
    margin: 15px 0;
    gap: 15px;
  }
  .social-preview-body.instagram .caption-action .caption-action-item {
    line-height: 1.2;
    font-size: 20px;
  }
  .social-preview-body.twitter .social-auth {
    gap: 10px;
  }
  .social-preview-body.twitter .social-auth .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
  }
  .social-preview-body.twitter .social-caption {
    margin-left: 45px;
  }
  .social-preview-body.twitter .caption-action {
    margin-top: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .advance-option {
    border: 1px solid var(--color-primary-soft);
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .advance-option:hover {
    border-color: var(--color-primary);
  }
  .advance-option .advance-option-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background: var(--site-bg);
    padding: 15px;
  }
  .advance-option .advance-option-btn:is(.collapsed) > span i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: var(--color-primary);
  }
  .advance-option .advance-option-btn > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
  }
  .advance-option .advance-option-btn > span > i {
    font-size: 18px;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .advance-option .advance-option-content {
    padding: 15px;
  }
  
  .ai-result-area {
    background-color: var(--site-bg);
    border-radius: 4px;
    height: 100%;
  }
  .ai-result h4 {
    font-size: 20px;
    color: var(--text-primary);
    font-weight: 700;
  }
  .ai-result .ai-result-body {
    margin-top: 15px;
  }
  .ai-result .ai-result-body textarea {
    background: var(--color-white);
  }
  
  .ai-note > h4 {
    font-size: 20px;
    color: var(--text-primary);
    font-weight: 700;
    margin-bottom: 15px;
  }
  .ai-note ul {
    display: grid;
    gap: 10px;
  }

/* =====================Choose Profile For Postings===================== */
.selected-profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.selected-profile-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--color-primary-light);
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 4px;
  line-height: 1.1;
  transition: 0.3s ease-in-out;
}
.selected-profile-item:hover {
  border-color: var(--color-primary);
}
.selected-profile-item > p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.selected-profile-item > p > span {
  font-size: 14px;
  line-height: 1;
}
.selected-profile-item > p > span:hover {
  color: var(--color-danger);
}
.channel-icon {
  width: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-profile-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  max-height: 100px;
  overflow-y: auto;
  line-height: 1.1;
  border: 1px solid var(--border-light);
  border-radius: 4px;
  padding: 12px;
}
.choose-profile-btn[aria-expanded="true"] > span {
  transform: rotate(-180deg);
}
.choose-profile-btn::after {
  display: none;
}
.choose-profile-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.choose-profile-left > span {
  font-size: 18px;
}
.choose-profile-btn > span {
  transition: 0.3s ease-in-out;
  font-weight: 700;
}

.choose-profile-btn.show > span {
  transform: rotate(-180deg);
}

.choose-profile-body {
  border: 1px solid var(--border-light);
  border-radius: 4px;
  padding-top: 10px;
}

.choose-profile-body .profile-list {
  max-height: 300px;
}
.profile-item {
  border-bottom: 1px dashed var(--color-border);
}
.profile-item:hover {
  background-color: var(--color-primary-light);
}

.profile-item:last-child {
  border-bottom: 0;
}
.profile-item > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px 20px;
  margin-bottom: 0;
  cursor: pointer;
}
.profile-item-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-item-img {
  flex: 0 0 40px;
}
.profile-item-meta h6 {
  font-size: 14px;
}
.profile-item-meta a {
  font-size: 13px;
  color: var(--color-primary);
}

.profile-item input[type="checkbox"] {
  min-width: 20px !important;
  height: 20px;
}
.profile-item input[type="checkbox"]:focus {
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: none;
}

.choose-profile-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 20px;
}
