@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
:root {
  --font-primary: "Cabin", sans-serif;
  --color-primary: #10a37f;
  --color-primary-light: rgba(16, 163, 126, 0.1);
  --color-primary-soft: #e4f5f0;
  --color-primary-text: #fff;
  --color-secondary: #c2fa6b;
  --color-secondary-light: rgba(195, 250, 107, 0.1);
  --color-secondary-soft: #f1faec;
  --color-secondary-text: rgb(36 40 44);
  --text-primary: rgb(36 40 44);
  --text-secondary: #545454;
  --text-light: #ebebeb;
  --border-light: #ebebeb;
  --border-dark: #2e2e2e;
  --border-light-two: #b3b3b3;
  --color-white: #fff;
  --color-gray-1: #eff2f7;
  --color-dark: #222222;
  --color-dark-2: #1d1d1d;
  --site-bg: #f6fbfa;
  --sidebar-bg: #fff;
  --footer-bg: #020202;

  --color-success: #0ab39c;
  --color-success-light: rgba(10, 179, 156, 0.1);
  --color-success-soft: #eafffc;

  --color-danger: #f8285a;
  --color-danger-light: rgb(248, 37, 87, 0.1);
  --color-danger-soft: #ffeef3;

  --color-warning: #f6c000;
  --color-warning-light: rgba(245, 192, 0, 0.1);
  --color-warning-soft: #fff8dd;
  
  --color-info: #299cdb;
  --color-info-light: rgb(41, 157, 219, 0.1);
  --color-info-soft: #e9f3ff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  margin-bottom: 0;
  font-weight: 600;
}

p {
  color: var(--text-secondary);
  margin-bottom: 0;
}

a,
a:active,
a:visited,
a:link {
  text-decoration: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  height: 100%;
  min-height: 100dvh;
  max-height: 100%;
  line-height: 1.55;
  color: var(--text-secondary);
  background-color: var(--site-bg);
  font-family: var(--font-primary) !important;
  font-size: 16px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  outline: none;
  border: none;
}

figure {
  margin-bottom: 0 !important;
}

/* Text Colors */
.text--primary {
  color: var(--color-primary) !important;
}

.text--danger {
  color: var(--color-danger) !important;
}

.text--info {
  color: var(--color-info) !important;
}

.text--warning {
  color: var(--color-warning) !important;
}

.text--success {
  color: var(--color-success) !important;
}

.text--light {
  color: var(--color-white) !important;
}

.text--dark {
  color: var(--color-dark) !important;
}

/* Padding */
.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-110 {
  padding-top: 110px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .pt-110 {
    padding-top: 75px;
  }
}
@media (max-width: 767px) {
  .pt-110 {
    padding-top: 60px;
  }
}

.pb-110 {
  padding-bottom: 110px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .pb-110 {
    padding-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .pb-110 {
    padding-bottom: 60px;
  }
}

/* margin */
.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-110 {
  margin-top: 110px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .mt-110 {
    margin-top: 75px;
  }
}
@media (max-width: 767px) {
  .mt-110 {
    margin-top: 60px;
  }
}

.mb-110 {
  margin-bottom: 110px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .mb-110 {
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .mb-110 {
    margin-bottom: 60px;
  }
}
